<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
  <test name="JavaSelenium">
    <classes>
      <class name="com.qingxiaoguo.TestGit">
        <methods>
          <include name="zhushi1"/>
        </methods>
      </class> <!-- com.qingxiaoguo.TestGit -->
    </classes>
  </test> <!-- JavaSelenium -->
</suite> <!-- Default Suite -->
